@page
@model MyApp.Namespace.RandomletterModel
@{
    ViewData["Title"] = "Randomletter";
}
<h1> Random Letter and Restaurant Name</h1>
<p> Random Letter: @Model.RandomLetter</p>
<p>Restaurant Name: @Model.RestName</p>