@page
@model MyApp.Namespace.RestaurantModel
@{
    ViewData["Title"] = "Restaurant";
}

<h1>Restaurant Information</h1>
<p>Restaurant Name: @Model.RestaurantName</p>
<p>Restaurant Type: @Model.CuisineType</p>